<div class="feature-container">
    <div class="brand-section">
      <div class="logo-container">
        <div class="logo-icon">
          <mat-icon>security</mat-icon>
        </div>
        <div class="brand-text">
          <h1>Data Security Website</h1>
        </div>
      </div>
    </div>
  
    <div class="content-section">
      <h2>
        connect with
        <span class="highlight">OIDC</span> 
        to see my data security website
      </h2>
      
      <p class="description">
        My application is a web-based platform designed to demonstrate and implement a secure identity authentication process using the OpenID Connect (OIDC) protocol in conjunction with Google's identity services. As part of this project, users can log in to the website using their existing Google account, thereby enjoying a convenient and secure login process without the need to create new login credentials specifically for this site.
      </p>
  
      
    </div>
  </div>